---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title="Blog">
  <section class="blog-index">
    <a class="back" href="/">← Back</a>
    <h1>Blog</h1>

    {posts.map((post) => (
      <a class="post-card" href={`/blog/${post.id}/`}>
        <h2>{post.data.title}</h2>
        <p>{post.data.date.toDateString()}</p>
      </a>
    ))}
  </section>
</BaseLayout>