---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <section>
        <a class="back" href="/" style="color:#7aa2ff">← Back</a>
            <div class="webrings">
            <div>
            <map name="w95widget">
                <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,308,22" alt="no ai webring" title="no ai webring">
                <area href="https://baccyflap.com/noai/?prv&s=clz" target="_top" shape="rect" coords="56,36,130,58" alt="previous" title="previous">
                <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="137,36,211,58" alt="random" title="random">
                <area href="https://baccyflap.com/noai/?nxt&s=clz" target="_top" shape="rect" coords="218,36,292,58" alt="next" title="next">
            </map>
            <img usemap="#w95widget" src="https://baccyflap.com/noai/w95widget.gif" alt="a gray Windows 95 style dialog box titled 'The No AI Webring' with a little icon showing a computer chip in a rubbish bin. beside it are three clickable buttons, labeled Previous, Random... and Next"><br>
            </div>
            <div>
            <a href="https://webring.nomaakip.xyz/webring?name=crislzy&to=prev"><img src="https://webring.nomaakip.xyz/img/webring-left.png"></a><a href="https://webring.nomaakip.xyz"><img src="https://webring.nomaakip.xyz/img/webring.png"></a><a href="https://webring.nomaakip.xyz/webring?name=crislzy&to=next"><img src="https://webring.nomaakip.xyz/img/webring-right.png"></a>   
            </div>
            <link rel="stylesheet" type="text/css" href="https://webring.crislzy.xyz/styles/example.css">
            <div class="widget">
                <a href="https://webring.crislzy.xyz/webring.html?name=crislzy&to=prev">Prev</a>
                <a href="https://webring.crislzy.xyz">MeowRing</a>
                <a href="https://webring.crislzy.xyz/webring.html?name=crislzy&to=next">Next</a>
            </div>
            <div>
                <iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=crislzy&lightmode=true"></iframe>
            </div>
        </div>
    </section>
</BaseLayout>